# Tuplas

Las tuplas son objetos de longitud constante compuesto por elementos inmutables. Los elementos de las tuplas pueden ser casi cualquier otro objeto de Python (listas,tuplas,etc).

Definición

In [3]:
#DEFINICION

#forma 1:
tupla1 = 32,'Hola esto es una tupla', 1123.123

#forma 2:
tupla2 = ('esto también es una tupla', 1123,123.123)

#A partir de un objeto diferente, se define una tupla con la función tuple()

lista = [2,3,4,5]
tupla3 = tuple(lista)

#Puedes convertir cualquier secuencia o iterador en una tupla;

st = 'Cadena de caracteres'
tupla4 = tuple(st)

print(f"Las tuplas definidas son las siguientes: {tupla1}, {tupla2}, {tupla3} y {tupla4}")

Las tuplas definidas son las siguientes: (32, 'Hola esto es una tupla', 1123.123), ('esto también es una tupla', 1123, 123.123), (2, 3, 4, 5) y ('C', 'a', 'd', 'e', 'n', 'a', ' ', 'd', 'e', ' ', 'c', 'a', 'r', 'a', 'c', 't', 'e', 'r', 'e', 's')

Accesamiento

In [4]:
#Se puede acceder a través de la notación bra-ket []
#Las tuplas son 0-indexed, es decir, El conteo de elementos
#comienzan desde 0.


print(f'El elemento 2  de la tupla1 es: {tupla1[1]}')

print(f'El elemento 10 de la última tupla es: {tupla4[10]}')

El elemento 2  de la tupla1 es: Hola esto es una tupla
El elemento 10 de la última tupla es: c

Las tuplas también aceptan El slicing, es decir la notación ' : ' para definir un rango de elementos dentro del objeto, donde los enteros pueden ser positivos o negativos (se cuentan del final al inicio)

In [5]:
#Slicing

print(f"slicing: {tupla1[0:2]}")

#intervalo definiendo el número de pasos para cada elemento.

print(f"con intervalo de pasos: {tupla1[0:2:1]}")

#Intervalo definido con valores negativos:

print(f"intervalo negativo: {tupla1[-3:-1]}")

slicing: (32, 'Hola esto es una tupla')
con intervalo de pasos: (32, 'Hola esto es una tupla')
intervalo negativo: (32, 'Hola esto es una tupla')

Inmutabilidad: Los elementos de las tuplas son inmutables, es decir, en el momento en que se definen sus elementos, estos ya no pueden ser redefindos.

In [6]:
tupla1[2] = 23

TypeError: 'tuple' object does not support item assignment

Desempacamiento.
El desempacamiento es el hecho de, a partir de una tupla, tomar sus elementos internos y definir los como variables independientes.

In [7]:
#Aquí, cada variable se asigna con El elemento que corresponda de la tupla en orden 0-n, siendo n
#la longitud de la lista.
entero,cadena,flotante = tupla1

print(f'el valor de la primera variable es: {entero}, de la segunda variable es: {cadena} , y de la tercera variable es: {flotante}')

el valor de la primera variable es: 32, de la segunda variable es: Hola esto es una tupla , y de la tercera variable es: 1123.123

Concatenación.

La concatenación es la Unión de dos elementos de un objeto de python, en el caso de las tuplas, podemos crear una tupla a partir de la concatenación de tuplas anteriores.

También se puede realizar la multiplicación de una tupla por un escalar(Los elementos)

In [8]:
tupla_concatenada = tupla1 + tupla2

tupla_concatenada

(32,
 'Hola esto es una tupla',
 1123.123,
 'esto también es una tupla',
 1123,
 123.123)

In [9]:
tupla_multiplicacion = tupla1*10

tupla_multiplicacion

(32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123,
 32,
 'Hola esto es una tupla',
 1123.123)

Como las tuplas son inmutables, El multiplicar la tupla por un escalar réplica la tupla tantas veces ese escalar sin modificar sus elementos en si

# Métodos

Debido a que las tuplas son inmutables, no existen muchos métodos que puedan utilizarse para las tuplas, la mayoría se centrará en las siguientes acciones:

- Dimensión del objeto.

- Encontrar elementos dentro del objeto.

- manejo de índices (identificadores de elementos).

- valores máximos y mínimos.


Entre otras cosas.

In [10]:
# . count('Objeto') ; Cuenta cuantas veces se repite el objeto dentro de la tupla

tupla_multiplicacion.count(32)

10

In [22]:
# .index(<obj>[,index]) ; Busca el objeto que se le pasa como parámetro y
#devuelve el índice en El que se ha enontrado.
#NOTA: Si la función no encuentra el elemento, esta arrojara un ValueError.

print(f'el índice del elemento Hola, esto es una tupla es : {tupla1.index("Hola esto es una tupla")}')

print(f'EL elemento 32 fue encontrado en el indice {tupla1.index(32)}')


#Este método acepta un Segundo parametro, este indica a partir de que índice comienza a buscar:

tupla_multiplicacion.index(32,4)



#Las funciones de encontrar los elementos mayores y menores son; min() y max()
tupla_max_min = 1,2,3,4,5,6
valor_maximo = max(tupla_max_min)
valor_minimo = min(tupla_max_min)

print(f'El valor máximo es: {valor_maximo} y el valor mínimo es: {valor_minimo}')

el índice del elemento Hola, esto es una tupla es : 1
EL elemento 32 fue encontrado en el indice 0
El valor máximo es: 6 y el valor mínimo es: 1

Las ventajas de usar tuplas en ves de otro tipo de objetos es su espacio en memoria, aproximadamente las tuplas trabajaban con aproximadamente 80 Mb

# Ejercicios

1.- A partir de la definición de dos tuplas con dos elementos, dame una tupla donde los componentes pares sean los componentes de la primera tupla y los impares sean los componentes de la segunda tupla

In [12]:
#Definiremos las dos tupla
t1 = 'primer elemento', 'segundo elemento'
t2 = 3,4

#definimos la tupla resultante, contaremos a partir de 1

resultado = t2[0],t1[0],t2[1],t1[1]

print(resultado)

(3, 'primer elemento', 4, 'segundo elemento')

2.- Creame una tupla anidada de 4 componentes, cada componente con 2 componentes.
Accedeme al primer elemento del componente 3 de la tupla.

In [17]:
#Definimos una la tupla anidada

anidada = (1,2),('hola','todos'),(1,'hello'),(256,'world')

#Recordemos que los componentes de las tuplas empiezan a contarse a partir de 0, por lo que acceder al componente 3 seria la "posición" 2.

anidada[2][0]

1

3.- Dadas dos tuplas, realiza su concatenación y la multiplicación de una tupla por un número.

In [19]:
#Tomaremos las dos tuplas del ejercicio 1

  #Concatenamos y realizamos la multiplicación por un numero.

concatenacion = t1+t2*3

concatenacion

('primer elemento', 'segundo elemento', 3, 4, 3, 4, 3, 4)

4.- Dada una tupla de números, encuentra el valor máximo y el mínimo.

In [20]:
#Definimos la tupla de numeros

numeros = (213,4235,1234,123,4253,346,124,13524,42,12,15432,64,124,124)

#encontramos el valor máximo y mínimo de las tuplas
  #tenemos las funciones max() y min() aplicables a las tuplas

vmax = max(numeros)

vmin = min(numeros)

print(f"el valor minimo es: {vmin} y el valor máximo es: {vmax}")

el valor minimo es: 12 y el valor máximo es: 15432

5.- Dada una tupla de elementos, crea una tupla donde sus elementos sean el numero de apariciones de elementos de la tupla de referencia.

In [38]:
tupla_conteos = (1,2,3,4,2,1,3,4,5,7,8,9,7,6,5,7,4,3,5,6,7,8,9,6,7,5,6,4,3,2,1)

#Tenemos el metodo .count() que determina el numero de veces que se repite el numero del argumento.
  #Creamos una tupla donde los elementos sean el numero de veces que aparecen los elementos de la tupla conteos relacionados por el indice de ambas tuplas

conteos = tuple((x,tupla_conteos.count(x)) for x in tupla_conteos)

conteos

((1, 3),
 (2, 3),
 (3, 4),
 (4, 4),
 (2, 3),
 (1, 3),
 (3, 4),
 (4, 4),
 (5, 4),
 (7, 5),
 (8, 2),
 (9, 2),
 (7, 5),
 (6, 4),
 (5, 4),
 (7, 5),
 (4, 4),
 (3, 4),
 (5, 4),
 (6, 4),
 (7, 5),
 (8, 2),
 (9, 2),
 (6, 4),
 (7, 5),
 (5, 4),
 (6, 4),
 (4, 4),
 (3, 4),
 (2, 3),
 (1, 3))